body{
	position: relative;
	margin-bottom: 0;
	min-height: calc(100vh - 8px);
}

h1{
	margin: 0;
}

p{
	margin: 0;
}

.error{
	color: red;
}

div#main{
	display: none;
}

div#outer-board-container{
	overflow-x: auto;
	margin: 0 -8px;
	padding: 0 8px;
}

div#board-container{
	width: fit-content;
	margin: 8px 0 4px 0;
	background-color: #444;
	border: 9px double lightgray;
	padding: 3px;
}

div#control-panel{
	display: flex;
	justify-content: space-between;
}

div#size-container{
	position: sticky;
	left: -4px;
	background-color: white;
	width: fit-content;
	padding: 0 2px 2px 2px;
	border: 1px black solid;
	border-radius: 3px;
}

input#clear{
	position: sticky;
	right: -4px;
}

div#board{
	display: grid;
	aspect-ratio: 1;
	margin-top: 2px;
	width: fit-content;
}

div.square{
	display: flex;
	margin: 2px;
	background: darkgray;
	border: dimgray 6px inset;
	width: 48px;
	height: 48px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	color: white;
	text-stroke: 6px black;
	-webkit-text-stroke: 6px black;
	paint-order: stroke;
	user-select: none;
}

div.square:hover{
	background: gray;
	border-color: #444;
}

div.square.highlighted{
	background: radial-gradient(
		circle,
		#e7e7e7,
		#ffffff 12px,
		#ffffff 16px,
		#e7e7e7 16px,
		#ffffff 32px
	);
	border-color: cyan;
	border-style: outset;
}

div.square.highlighted:hover{
	background: radial-gradient(
		circle,
		#ccc,
		#ddd 12px,
		#ddd 16px,
		#bbb 16px,
		#ccc 32px
	);
	border-color: darkcyan;
}

footer{
	margin: 0 -8px;
	font-size: small;
	border-top: 6px double black;
	background-color: #7fffff;
}

footer>div{
	background-color: lightgray;
	padding: 8px 0;
}

footer>div>div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 0 8px 0;
}

footer a{
	display: block;
	margin: 0 8px;
}

footer p{
	margin: 0 4px;
}

@media(forced-colors: active){
	div.square{
		border-style: solid;
		text-stroke: 2px black;
		-webkit-text-stroke: 2px black;
	}

		div.square.highlighted{
			border-style: double;
		}
}

@media(prefers-color-scheme: dark){
	body{
		background-color: #222;
		color: white;
	}

	div#size-container{
		background-color: #222;
		border-color: white;
		color: white;
	}

	input#size{
		background-color: #555;
		color: white;
		border: white 1px solid;
		border-radius: 2px;
	}

	input#clear{
		background-color: #222;
		color: white;
	}

	footer div{
		background-color: #555
	}

	a{
		color: #0bb;
	}
}
